.bar {
    width: 80%;
    height: 6px;
    background: #ddd;
}

.bar-fill {
    height: 100%;
    background: #8c8181;
}

.li_item {
    margin-left: -5px;
}

.l-list-item {
    padding-top: 4px;
    margin-left: 3px;
    font-weight: 750;
    font-size: 1rem;
    color: #595659;
}

.left-block {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color: #bcb0b0;
}

.block-item-name {
    padding: 10px 10px 1px 12px;
    font-weight: 600;
    color: #232323;
    font-size: 1.1rem;
}